body {
  font-family: Raleway, sans-serif;
  color: white;
}
/*Center Text in All Sections*/

.section {
  text-align: center;
}
/* ===== Navigation controls ===== */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border: 2px solid white;
  opacity: .4;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: white;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip {
  font-family: Raleway, sans-serif;
}
/* ===== INTRO ===== */

#intro {} .intro > h1 {
  font-size: 48px;
  margin: 0 auto;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}
.intro > p {
  font-size: 22px;
  margin: 0 auto;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#intro-footer {
  height: 7%;
  width: 100%;
  background-color: #36465d;
  bottom: 0;
  position: absolute;
  border-top: 2px solid #4c5d75;
  -webkit-animation: slideup 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideup 3s;
  /* Firefox < 16 */
  -ms-animation: slideup 3s;
  /* Internet Explorer */
  -o-animation: slideup 3s;
  /* Opera < 12.1 */
  animation: slideup 3s;
}
@keyframes slideup {
  0% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  100% {
    height: 7%;
    border-top: 2px solid #4c5d75;
  }
}
/* Firefox < 16 */

@-moz-keyframes slideup {
  0% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  100% {
    height: 7%;
    border-top: 2px solid #4c5d75;
  }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes slideup {
  0% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  100% {
    height: 7%;
    border-top: 2px solid #4c5d75;
  }
}
/* Internet Explorer */

@-ms-keyframes slideup {
  0% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  100% {
    height: 7%;
    border-top: 2px solid #4c5d75;
  }
}
/* Opera < 12.1 */

@-o-keyframes slideup {
  0% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 0%;
    border-top: 0 solid #4c5d75;
  }
  100% {
    height: 7%;
    border-top: 2px solid #4c5d75;
  }
}
#intro-footer-text {
  height: 100%;
  transform: translateY(25%);
  -webkit-transform: translateY(25%);
  font-size: 18px;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
/* ===== ABOUT ===== */

#about-section {
  text-align: left;
}
#about-section-header-text {
  font-size: 22px;
}
#about-section-div {
  height: 100%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 50px;
}
#about-section-text > p {
  font-size: 14px;
}
@media only screen and (min-width: 580px) {
  #about-section-header-text {
    font-size: 28px;
  }
  #about-section-text > p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 850px) {
  #about-section-text > p {
    font-size: 22px;
  }
  #about-section-header-text {
    font-size: 36px;
  }
}
/* ===== PROJECTS ===== */

.fp-controlArrow.fp-prev {
  -webkit-transform: rotate(315deg);
  margin: 200px 20px;
  width: 25px;
  height: 25px;
  float: left;
  border-width: 3px 0px 0px 3px;
  border-color: white;
}
.fp-controlArrow.fp-next {
  -webkit-transform: rotate(135deg);
  margin: 200px 20px;
  width: 25px;
  height: 25px;
  float: left;
  border-width: 3px 0px 0px 3px;
  border-color: white;
}
#projects-first-img {
  max-width: 100%;
  max-height: 100%;
}
#projects-habito {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
#habito-right {
  margin: 0 20px 0 20px;
}
#snp-right {
  float: right;
}
#snp-left {
  float: left;
  text-align: left;
}
#snp-img {
  max-width: 50%;
  max-height: 50%;
  vertical-align: middle;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#snp-left-body {
  margin-left: 100px;
  margin-right: 50px;
}
@media only screen and (min-width: 580px) {
  #habito-left {
    width: 60%;
    float: left;
    height: 100%;
  }
  #habito-right {
    width: 35%;
    text-align: left;
    float: left;
    margin: 0 auto;
    margin-top: 25px;
    height: 100%;
  }
  #habito-right-body {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
  }
  #snp-left-body {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
  }
  #snp-left {
    height: 100%;
    width: 66%;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  #snp-right {
  height: 100%;
  width: 34%;
  text-align: left;
}
}
#snp-img {
  max-width: 90%;
  max-height: 90%;
}

@media only screen and (min-width: 850px) {
  p {
    font-size: 18px;
  }
}

.more {
  width:50%;
  margin:0 auto;
}

/* ===== Contact ===== */
.resume-button > a:hover {
color: #444;
text-decoration: none;
}
.github-button > a:hover {
color: #333;
text-decoration: none;
}
.linkedin-button > a:hover {
color: #3893c4;
text-decoration: none;
}
.email-button > a:hover {
color: #3e6c93;
text-decoration: none;
}
.google-plus-button > a:hover {
color: #df5138;
text-decoration: none;
}
.stack-overflow-button > a:hover {
color: #fe8224;
text-decoration: none;
}
#purple-github {
  color: #a77dc2;
}
.contact > .fa-inverse {
  color: #f2992e;
}